@font-face {font-family: "superspace_boldregular";src: url("fonts/superspace_bold_ver_1.00.woff2") format("woff2"),url("fonts/superspace_bold_ver_1.00.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "superspace_regularregular";src: url("fonts/superspace_regular_ver_1.00.woff2") format("woff2"),url("fonts/superspace_regular_ver_1.00.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "superspace_lightregular";src: url("fonts/superspace_light_ver_1.00.woff2") format("woff2"),url("fonts/superspace_light_ver_1.00.woff") format("woff");font-weight: normal;font-style: normal;}
body, html {font-family: "superspace_boldregular";}
h1, h2, h3, h4, h5, h6 {font-family: "superspace_boldregular";}
h2 {font-size: 4.5em;margin: 0px;}
.container, .container a {font-family: "superspace_boldregular";}
#member-area a .member-pic {text-align: center;}
#member-area a .member-pic img {border-radius: 50%;width: 100%;max-width: 132px;}
#member-area a .member-name {font-size: 1.5em;text-align: center;color: #fff;}
#motto-area {text-align: center;}
#motto-area .heading-motto, #motto-area .description-motto {color: #fff;}
#motto-area .heading-motto {font-size: 8em;}
#motto-area .description-motto {margin-top: -50px;font-size: 1.5em;}
#music-box {}
#music-box li {display: block;border-top: 1px solid #979797;border-left: 1px solid #979797;border-right: 1px solid #979797;background: #414141;padding: 10px 20px;line-height: 1.5em;}
#music-box li:first-child {border-top-left-radius: 10px;border-top-right-radius: 10px;}
#music-box li:last-child {border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom: 1px solid #979797;}
#music-box li:hover, #music-box li.select {background: #1e1e1e;cursor: pointer;}
#music-box li .heading {font-size: 1.5em;}
#music-box li .sub {color: #a0a0a0;}
.song-title {font-size: 2em;}
.song-description {color: #828282;font-size: 1.2rem;line-height: 1.2em;}
.streaming-music-area {margin-top: 10px;}
.streaming-btn {display: inline-block;border: 1px solid #979797;border-radius: 5px;text-align: center;padding: 5px;width: 60px;height: 60px;color: #fff;font-size: 2em;margin-right: 10px;}
#member-info {position: relative;}
#member-info .name-title {font-size: 3em;color: #ebd17d;}
#member-info .member-right {font-size: 1.5em;}
#member-info .highlight {color: #ebd17d;}
#member-info .social-area {margin-top: 10px;}
#member-info .social-area .social-btn {display: inline-block;width: 50px;color: #fff;font-size: 2rem;}
#member-info .btn {margin-top: 20px;width: 100%;color: #ccc;border: 1px solid #ccc;border-radius: 5px;}
#member-info .btn:hover {background: #ccc;color: #000;}
@media only screen and (max-width: 780px) {h2 {font-size: 1.5em;}
	#music-box {padding-left: 0px;}
	#member-area .panel-grid-cell {float: left;width: 50%;}
	#member-info .name-title {font-size: 2em;}
	#member-info .member-right {font-size: 1em;}}